extends includes/layout.pug

block content
  if theme.tag_ui == 'index'
    include ./includes/mixins/post-ui.pug
    #recent-posts.recent-posts
      +postUI
      include includes/pagination.pug
  else
    include ./includes/mixins/article-sort.pug

    #tag
      .tag-cloud-list.is-center
        !=cloudTagsWithSpan({source: site.tags, orderby: "length", order: -1, limit: 0, unit: 'em'})
      .article-sort-title= _p('page.tag') + ' - ' + page.tag
      +articleSort(page.posts)
      include includes/pagination.pug