.wl-panel
    .primary.wl-btn
        border-color $theme-color !important
        background #ffffff00 !important
        color $theme-color !important

        &:hover
            border-color $theme-color !important
            background $theme-color !important
            color $white !important