.article-sort
  padding-left 20px

  &-title
    position relative
    margin-left 10px
    padding-bottom 20px
    padding-left 20px
    font-size 1.72em

  &-item
    position relative
    display flex
    align-items center
    margin 0 0 20px 15px
    transition all 0.2s ease-in-out

    &:not(.year)
      cursor pointer

    &.no-article-cover
      height 80px

      .article-sort-item-info
        padding 0

    &.year
      margin-left 10px
      font-size 1.43em

    &-time
      color $theme-meta-color
      font-size 95%

      time
        padding-left 6px
        cursor default

    &-title
      @extend .limit-more-line
      color var(--font-color)
      font-size 1.1em
      transition all 0.3s
      -webkit-line-clamp 2

    &-img
      overflow hidden
      width 80px
      height 80px

      img
        width 100%
        height 100%
        transition filter 375ms ease-in 0.2s, transform 0.6s
        object-fit cover

    &-info
      flex 1
      padding 0 16px

.article-sort-item&:not(.year)&:hover .article-sort-item-title
  color $text-hover
  transform translateX(10px)

.article-sort-item&:not(.year)&:hover .article-sort-item-img
  img
    transform scale(1.1)

.article-sort-item&:not(.year)
  border-radius 8px
  outline 1px solid #ffffff00

  &:hover
    outline 1px solid $theme-color
