.categories-cloud
  &-list
    display flex
    flex-direction row
    flex-wrap wrap
    margin 0 -0.35rem
    margin-bottom 2rem
    justify-content center

    .categories-page-tag
      transition all 0.3s
      align-items center
      padding 0.4rem 0.7rem
      border-radius 8px
      outline 1px solid $light-theme-color
      background rgba(255, 255, 255, 0)
      color var(--font-color)
      margin 5px 5px

      &:hover
        outline 1px solid $theme-color
        background $theme-color
        color $white !important

      +maxWidth768()
        zoom 0.85

      .categories-page-count
        padding 0px 0.5rem
        margin-left 10px
        border-radius 4px
        background $light-theme-color
        transition all 0.3s
        color $white

    .categories-page-tag:hover .categories-page-count
      background $white
      color $theme-color

  &-title
    font-size 2.57em

    +maxWidth768()
      font-size 2em

h1.page-title
  & + .tag-cloud-list
    text-align left
