#footer
  position relative
  background-color $white
  background-attachment scroll
  background-position bottom
  background-size cover
  color var(--font-color)
  outline 1px solid $outline-color

  if (hexo-config('footer_bg') != false && hexo-config('mask.footer'))
    &:before
      position absolute
      width 100%
      height 100%
      background-color var(--mark-bg)
      content ''

#footer-wrap
  position relative
  color var(--font-color)
  margin 0 auto
  height 100%

  +minWidth900()
    max-width 1200px

  +minWidth2000()
    max-width 1400px

  .footer-social
    width 100%
    height 50px

    .social-content
      margin-top 50px
      height 50px
      display flex
      justify-content center
      align-items center

      #go-to-up
        margin 0px 35px
        vertical-align top
        transition 0.5s
        height 50px

        &:hover
          transform scale(1.2)

        img
          width 50px
          height 50px
          border-radius 50%
          outline 1px solid $outline-color

      .icon-content
        width 50px
        height 50px
        margin 0px 20px
        display inline-block
        vertical-align top
        position relative

        .social-icon
          display block
          text-align center
          line-height 50px
          width 35px
          height 35px
          position absolute
          top 50%
          left 50%
          -webkit-transform translate(-50%, -50%)
          -ms-transform translate(-50%, -50%)
          transform translate(-50%, -50%)
          color var(--font-color)

          &:hover
            color $theme-color

          i
            font-size 20px
            position absolute
            top 50%
            left 50%
            -webkit-transform translate(-50%, -50%)
            -ms-transform translate(-50%, -50%)
            transform translate(-50%, -50%)

  .footer-link
    width 100%

    .link-content
      width 100%
      margin 30px auto
      display flex
      flex-direction row
      justify-content space-between
      flex-wrap wrap

      .link-category
        display inline-block
        margin 0 auto
        width 120px
        font-size 17px

        .category_name
          display block
          text-align center
          margin-bottom 20px
          color $light-font-color

        .category-link
          display block
          text-align center
          margin-bottom 3px
          color var(--font-color)

          &:hover
            color $theme-color

  .footer-icon
    width 100%
    margin-bottom 20px

    .icon-content
      display flex
      flex-direction row
      justify-content center
      flex-wrap wrap

      .icon-item
        margin 0px 5px

  .footer-under
    width 100%
    height 45px
    border-top 1px solid $outline-color

    .copyright, .framework-info, .footer_custom_text
      line-height 45px

    .copyright
      float left

    .footer_custom_text
      float right
      padding-left 10px

    .framework-info
      float right

      a
        color var(--font-color)

        &:hover
          color $theme-color
