#page-header
  position relative
  width 100%
  background-color $light-blue
  background-position center center
  background-size cover
  background-repeat no-repeat
  transition all 0.5s

  #nav
    border-bottom 1px solid $outline-color

  @keyframes move-forever
    0%
      transform translate3d(-90px, 0, 0)

    100%
      transform translate3d(85px, 0, 0)

  .main-hero-waves-area
    width 100%
    position absolute
    left 0
    bottom -11px
    z-index 5
    pointer-events none

  .waves-area .waves-svg
    width 100%
    height 3.75rem

  // Animation
  .parallax > use
    animation move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite
    will-change transform

  // todo color
  .parallax > use:nth-child(1)
    animation-delay -2s
    animation-duration 7s
    fill #f7f9febd

  .parallax > use:nth-child(2)
    animation-delay -3s
    animation-duration 10s
    fill #f7f9fe82

  .parallax > use:nth-child(3)
    animation-delay -4s
    animation-duration 13s
    fill #f7f9fe36

  .parallax > use:nth-child(4)
    animation-delay -5s
    animation-duration 20s
    fill #f7f9fe

  if (hexo-config('mask.header'))
    &:not(.not-top-img):before
      position absolute
      width 100%
      height 100%
      background-color var(--mark-bg)
      content ''
      backdrop-filter blur(15px)

  // index
  &.full_page
    height $index_top_img_height
    background-attachment fixed

    #site-info
      position absolute
      top $index_site_info_top
      padding 0 10px
      width 100%

  #site-title, #site-subtitle, #scroll-down .scroll-down-effects
    text-align center
    text-shadow 2px 2px 4px rgba(0, 0, 0, 0.15)
    line-height 1.5

  #site-title
    margin 0
    color var(--white)
    font-size 1.85em

    +minWidth768()
      font-size 2.85em

  #site-subtitle
    color var(--light-grey)
    font-size 1.15em

    +minWidth768()
      font-size 1.72em

  #site_social_icons
    display none
    margin 0 auto
    text-align center

    +maxWidth768()
      display block

    .social-icon
      margin 0 10px
      color var(--light-grey)
      text-shadow 2px 2px 4px rgba(0, 0, 0, 0.15)
      font-size 1.43em

  #scroll-down
    position absolute
    bottom 10px
    width 100%
    cursor pointer

    .scroll-down-effects
      position relative
      width 100%
      color var(--light-grey)
      font-size 20px

  // page
  &.not-home-page
    height 400px

    #nav
      border-bottom 1px solid #ffffff00 !important

    .back-home-btn, #site-name
      color var(--light-gray)

      &:hover
        color $white
        background $theme-color

    +maxWidth768()
      height 280px

  #page-site-info
    position absolute
    top 200px
    padding 0 10px
    width 100%

    +maxWidth768()
      top 140px

  // post
  &.post-bg
    height 400px

    #nav
      border-bottom 1px solid #ffffff00 !important

    .back-home-btn, #site-name
      color var(--light-gray)

      &:hover
        color $white
        background $theme-color

    +maxWidth768()
      height 360px

  #post-info
    position absolute
    bottom 30px
    padding 50px 8%
    width 100%

    +maxWidth768()
      bottom 22px
      padding 0 22px

  &.not-top-img
    margin-bottom 10px
    height 60px
    background 0

    #nav
      background rgba(255, 255, 255, 1)

      // box-shadow 0 5px 6px -5px rgba(133, 133, 133, 0.6);
      #blog-info
        color var(--font-color)

      a, #toggle-menu
        color var(--font-color)
        text-shadow none

        &:hover
          color $light-blue

  &.nav-fixed
    #nav
      border-bottom 1px solid $outline-color
      position fixed
      top -60px
      z-index 91
      background rgba(255, 255, 255, 1)
      // box-shadow 0 5px 6px -5px alpha($grey, 0.6);
      transition transform 0.2s ease-in-out, opacity 0.2s ease-in-out

      #blog-info
        color var(--font-color)

      a, #toggle-menu
        color var(--font-color)
        text-shadow none

        &:hover
          color $light-blue

      .back-home-btn
        color var(--font-color), &:hover
          color $white
          background $theme-color

    &.fixed
      #nav
        top 0
        transition all 0.5s

  &.nav-visible:not(.fixed)
    #nav
      transition all 0.5s
      transform translate3d(0, 100%, 0)

    & + .layout
      & > .aside-content > .sticky_layout
        top 70px
        transition top 0.5s

  &.fixed
    #nav
      position fixed

    & + .layout
      & > .aside-content > .sticky_layout
        top 70px
        transition top 0.5s

      #card-toc
        .toc-content
          max-height calc(100vh - 170px)

#page
  h1.page-title
    margin 8px 0 20px

// for not top_img
#post
  & > #post-info
    margin-bottom 30px

    .post-title
      // todo
      text-align center
      padding-bottom 4px
      border-bottom 1px solid var(--light-grey)
      color var(--text-highlight-color)

      .post-edit-link
        float right

    #post-meta, #post-meta a
      color #78818a

#post-info
  .post-title
    @extend .limit-more-line
    // todo
    text-align center
    margin-bottom 8px
    color var(--white)
    font-weight normal
    font-size 2.5em
    line-height 1.5
    -webkit-line-clamp 3

    +maxWidth768()
      font-size 2.1em

    .post-edit-link
      padding-left 10px

      .fa-pencil-alt
        transform scale(0.5)

  #post-meta
    // todo
    text-align center
    color var(--light-grey)
    font-size 95%

    +minWidth768()
      > .meta-secondline
        > span:first-child
          display none

    +maxWidth768()
      font-size 90%

      > .meta-firstline, > .meta-secondline
        display inline

    .post-meta
      &-separator
        margin 0 5px

      &-icon
        margin-right 4px

      &-label
        if (hexo-config('post_meta.post.label'))
          margin-right 4px
        else
          display none

    a
      color var(--light-grey)
      transition all 0.3s ease-out

      &:hover
        color $text-hover
        text-decoration underline

    if (hexo-config('post_meta.post.date_format') == 'relative')
      time
        display none

#nav
  position absolute
  top 0
  z-index 90
  display flex
  -webkit-box-align center
  align-items center
  padding 0 36px
  width 100%
  height 60px
  font-size 1.3em
  opacity 0
  transition all 0.5s

  +maxWidth768()
    padding 0 16px

  &.show
    opacity 1

  #nav-content
    width 100%
    display flex
    position relative
    align-items center
    justify-content center
    margin 0 auto

    +minWidth900()
      max-width 1200px

    +minWidth2000()
      max-width 1400px

  #blog-info
    flex-wrap nowrap
    height 60px
    display flex
    align-items center
    transition 0.3s
    z-index 102
    overflow visible !important
    flex 1
    color var(--light-grey)
    @extend .limit-one-line

flex-wrap: nowrap, height: 60px, display: flex, align-items: center, transition: 0.3s, z-index: 102, overflow: visible !important, .site-icon
  margin-right 6px
  height 36px
  vertical-align middle

#toggle-menu
  display none
  padding 2px 0 0 6px
  vertical-align top

  &:hover
    color var(--white)

a
  color var(--light-grey)

  &:hover
    color var(--white)

.back-home-btn
  cursor pointer
  position relative
  display flex
  width 35px
  height 35px
  padding 0 !important
  align-items center
  justify-content center
  margin-right 4px
  border-radius 8px
  color var(--font-color)

  i
    position absolute
    top 50%
    left 50%
    -webkit-transform translate(-50%, -50%)
    -ms-transform translate(-50%, -50%)
    transform translate(-50%, -50%)

  &:hover
    background $theme-color
    color $white

  .back-menu-list-groups
    color var(--font-color)
    position absolute
    top 65px
    left 0
    padding 10px
    background var(--card-bg)
    border-radius 12px
    border 1px solid $outline-color
    box-shadow 0 0 15px #00000047
    flex-direction column
    font-size 12px
    transition 0.3s
    opacity 0
    pointer-events none

    .menu_category, .menu_item
      display block
      padding 3px 30px 3px 10px
      border-radius 8px
      color var(--font-color)

    .menu_item:hover
      background $theme-color
      color $white !important

.back-home-btn:hover .back-menu-list-groups
  transform translateY(-30px)
  opacity 1
  pointer-events auto

#site-name
  text-shadow 2px 2px 4px rgba($dark-black, 0.15)
  font-weight bold
  padding 0 8px
  height 35px
  line-height 35px
  position relative
  display flex
  align-items center
  justify-content center
  border-radius 8px

  i
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    opacity 0
    color $white

  .title
    opacity 1

  &:hover
    background $theme-color

    .title
      opacity 0

    i
      opacity 1
      color $white !important

.menus_items
  display inline

  .menus_item
    position relative
    display inline-block
    padding 0 0 0 14px

    &:hover
      .menus_item_child
        box-shadow 0 0 15px #00000047
        display block
        outline 1px solid $outline-color

      & > a > i:last-child
        transform rotate(180deg)

    & > a > i:last-child
      padding 4px
      transition transform 0.3s

    .menus_item_child
      position absolute
      right 0
      display none
      margin-top 8px
      padding 0
      width max-content
      border-radius 5px
      background-color var(--sidebar-bg)
      // box-shadow 0 5px 20px -4px rgba($dark-black, 0.5);
      animation sub_menus 0.3s 0.1s ease both

      &:before
        position absolute
        top -8px
        left 0
        width 100%
        height 20px
        content ''

      li
        list-style none

        &:hover
          background $theme-color

          a
            color $white !important

        &:first-child
          border-top-left-radius 5px
          border-top-right-radius 5px

        &:last-child
          border-bottom-right-radius 5px
          border-bottom-left-radius 5px

        a
          display inline-block
          padding 8px 16px
          width 100%
          color var(--font-color) !important
          text-shadow none !important

&.hide-menu
  #toggle-menu
    display inline-block !important

    .site-page
      font-size inherit

  .menus_items
    display none

  #search-button span
    display none

#search-button
  display inline
  padding 0 0 0 14px

.site-page
  position relative
  padding-bottom 6px
  text-shadow 1px 1px 2px rgba($dark-black, 0.3)
  font-size 0.78em
  cursor pointer

  &:not(.child)
    &:after
      position absolute
      bottom 0
      left 0
      z-index -1
      width 0
      height 3px
      background-color lighten($theme-color, 30%)
      content ''
      transition all 0.3s ease-in-out

    &:hover
      &:after
        width 100%

+maxWidth768()
  /* Shrinking for mobile */
  .waves-area .waves-svg
    height 40px
    min-height 40px

  .main-hero-waves-area
    display none
    visibility hidden
