.tag-cloud-list.is-center
  !=cloudTagsWithSpan({source: site.tags, orderby: page.orderby, order: page.order, limit: 0, unit: 'em'})
  //- !=cloudTags({source: site.tags, orderby: page.orderby || 'random', order: page.order || 1, minfontsize: 1.2, maxfontsize: 2.1, limit: 0, unit: 'em'})